# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
ENV/

# OAuth / credentials / tokens
*.json
token.json
serviceAccountKey.json
client_secret.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# IDE / Editor configs
.vscode/
.idea/
*.iml
